html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.text-input-area {
  position: fixed;
  bottom: 50px;
  left: 30px;
}

.about-alert {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 60px;
  left: 30px;
  width: 150px;
}

.clock {
  width: 50px;
}

.outline-button {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 30px;
  width: 150px;
}

.particles-button {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 140px;
  left: 30px;
  width: 150px;
  text-decoration: none;
}
.bounce-button {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 180px;
  left: 30px;
  width: 150px;
}
.distorted-button {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 220px;
  left: 30px;
  width: 150px;
}

a:visited {
  color: white;
}