html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.text-input-area {
  position: fixed;
  bottom: 50px;
  left: 30px;
}

.about-alert {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 30px;
}